#searchBoxDiv {
    width: 80%;
    margin: auto;
} 

#searchResultDiv {
    width: 80%;
    margin: auto;
}

.gsc-result {
    margin: 20px 0 !important;
    width: 100% !important;
}


.gsc-result {
    opacity: 0;
    animation: fadeIn1 1s ease-in both;
    animation-delay: 0.6s;
}

.gc_.styleable-rootcontainer.c_ {
    opacity: 0;
    animation: fadeIn1 1s ease-in both;
    animation-delay: 0.6s;
}


@keyframes fadeIn1 {
	from {
		opacity: 0;
		transform: translate3d(0, -40%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
} 

#gs_id50 {
    background-color: #FAFAFA !important;
    border-color: #FAFAFA !important;
}

#gsc-iw-id1 {
    border-color: #FAFAFA !important;
}

input#gsc-i-id1 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    height: 40px !important;
    border: solid 2px #9fc5f1 !important;
    border-radius: 0.5rem !important;
}

#gsc-i-id1:focus {
    /* box-shadow: 2px 2px 2px 2px #d6e7fa !important; */
    border: solid 4px #cae2fd !important;
}

.gsc-search-button {
    height: 38px !important;
    width: 80px !important;
    border-radius: 0.5rem !important;
}

svg {
    height: 16px !important;
    width: 16px !important;
}